.selectLabel {
    display: flex;
    flex-direction: column;
    color: #7A8185;
    font-family: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}

.select {
    width: 100%;
    max-width: 232px;
    padding: 8px 16px;
    margin-top: 12px;
}

@media screen and (max-width: 1024px) {
    .select {
        width: 100%;
        max-width: none;
    }
}